.*
# Unignore selected dotfiles/dirs that are part of the project config.
!.github/
!.gitignore
!front/web/.prettierrc.json
!front/web/.prettierignore
!front/web/.husky/
front/web/.husky/_/
celery_restart.sh
restart_front.sh
mimidump/
__pycache__
vk_auth.json
__init__.py
eslint.config.mjs
back/rabbitmq/rabbitmq/
.env
*.log
*.ini
front/rabbitmq/rabbitmq
front/src/static/dist/
front/web/node_modules/